<div>
  <div>
    <button (click)="sendEmail()">Send Email</button>

    <button (click)="deleteEmail()">Delete</button>
  </div>

  <table>
    <thead>
      <tr>
        <!-- <th>Id</th> -->
        <th>Title</th>
        <th>Content</th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataSource" (click)="selectRecord(item)" [class.selected]="item === selectedRecord">
        <!-- <td>{{ item.sentEmailId }}</td> -->
        <td>{{ item.title }}</td>
        <td>{{ item.content }}</td>
        <td>{{ item.to }}</td>
      </tr>
    </tbody>
  </table>
</div>

